
<div class="selector">

  <!-- Login Component -->
  <app-login></app-login>

  <div class="data" *ngIf="availableVideoFiles">

    <div [@listAnimation]="checkLocalAvailability(cloudFiles).length">

      <!-- Available Files -->
      <li *ngFor="let file of checkLocalAvailability(cloudFiles); let i = index" (click)="loadContent({clean: file.title, original: getOriginal(file.location)}, i)">
        <div class="icon">
          <img src="https://img.icons8.com/material-outlined/48/aaaaaa/laptop-play-video.png"/>
        </div>
        <div class="info">{{file.title}}</div>
      </li>

    </div>

    <div @listFadeInAnimation>

      <!-- Unavailable Files -->
      <li *ngFor="let file of checkLocalAvailability(cloudFiles, true); let i = index" class="unavailable">
        <div class="icon">
          <img src="https://img.icons8.com/material-outlined/48/a44d4d/laptop-play-video.png"/>
        </div>
        <div class="info">{{file.title}}</div>
      </li>

    </div>


  </div>
  <div class="uploader">
    <div class="message">
      Media Upload
      <small *ngIf="isUploading">Uploading File...</small>
      <small *ngIf="uploadedFile">Uploaded {{uploadedFile}}</small>
    </div>
    <div class="icon">
      <img (click)="onSelectMediaToUpload()" src="https://img.icons8.com/material/96/ab684c/upload--v1.png"/>
    </div>
  </div>
</div>

<div class="content">

  <div class="content-header">
    <div class="menuBtn">
      <img src="https://img.icons8.com/material-outlined/48/ffffff/laptop-play-video.png"/>
    </div>

    <div class="title">
      <h2 *ngIf="selectedFile">{{selectedFile.clean}} <small *ngIf="isTranslating">| {{updatingNumber}} / {{workingFile.subtitles.length}}</small></h2>
    </div>

    <div class="buttons">

      <div class="btn" (click)="onSaveSubtitle()">
        <img src="https://img.icons8.com/material-rounded/96/ffffff/save-all.png"/>
      </div>

      <div class="btn">
        <img src="https://img.icons8.com/material-rounded/96/ffffff/delete-forever.png"/>
      </div>
    </div>
  </div>

  <ng-container *ngIf="workingFile">
    <!-- Video Player -->
    <app-video-player [videoURL]="videoURL" [activeSubtitle]="activeSubtitle" [language]="subtitleLanguage"></app-video-player>
    <app-audio-player
      [audioControl]="sound"
      [currentAudioTime]="currentSoundTime"
      [activeSubtitleFile]="workingFile"
      (playAudio)="play()"
      (pauseAudio)="pause()"
      (muteAudio)="muteAudio($event)"
      (seekAudio)="playFrom($event)"
      (changeSubtitleLanguage)="onChangeSubtitleLanguage()"
      (generateSRT)="regenerateSubtitle($event)"
    ></app-audio-player>

    <div class="rule-enforcer">

      <select [(ngModel)]="ruleAction">
        <option value="replace">Replace</option>
      </select>

      <input type="text" [(ngModel)]="replace">
      <input type="text" [(ngModel)]="replaceWith">

      <button (click)="onActiveRule()">Run Rule</button>
    </div>
  </ng-container>


</div>

<div class="editor">
  <div class="json-editor" *ngIf="workingFile">
    <div class="btn-header">
      <div class="btn" (click)="translateAllText()">
        <img width="96" height="96" src="https://img.icons8.com/material/96/google-translate.png" alt="google-translate"/>
        <h4>Translate</h4>
      </div>
      <div class="btn" (click)="onToggleTranslation()">
        <img width="96" height="96" src="https://img.icons8.com/material/96/hide--v1.png" alt="hide--v1"/>
        <h4>{{isTranslationHidden ? 'Hidden' : 'Visible'}}</h4>
      </div>
      <div class="btn" (click)="onRefreshWorkingFile()">
        <img width="24" height="24" src="https://img.icons8.com/material/24/update-left-rotation.png" alt="update-left-rotation"/>
        <h4>Refresh</h4>
      </div>
    </div>

    <div class="subtitle-container" [@listAnimation]="workingFile.subtitles.length">
      <ng-container *ngFor="let subtitle of workingFile.subtitles; index as id">
        <div [id]="'sub-' + id" class="subtitle" [ngClass]="subtitle.isActive ? 'active' : 'not-active'"> <!-- [ngClass]="thisSubtitleActive(subtitle, id)" -->
          <div class="header">

            <!--
            Play/Pause Button for Subtitle Bite
            -->
            <button *ngIf="!subtitle.isActive || !isPlaying" (click)="playFrom(subtitle.sTime)">
              <img src="https://img.icons8.com/material/96/null/play--v1.png"/>
            </button>
            <button *ngIf="subtitle.isActive && isPlaying" (click)="pause()">
              <img src="https://img.icons8.com/material/96/678f67/pause--v1.png"/>
            </button>

            <!-- SYNC Position -->
            <h3><small>SYNC</small>: {{subtitle.sTime | audioToVideo}}</h3>

            <!--
            Translate Button
              - Will translate into all available languages
             -->
            <button (click)="translateText(subtitle)">
              <img src="https://img.icons8.com/material/96/null/google-translate.png"/>
            </button>
          </div>

          <!-- English | Default -->
          <div class="utterance">
            <div class="info">
              <label>English | Default</label>
            </div>
            <div class="container">
              <textarea [(ngModel)]="subtitle.utterance">{{subtitle.utterance}}</textarea>
            </div>
          </div>

          <!-- Spanish -->
          <div class="utterance" *ngIf="subtitle.languages.es && !isTranslationHidden">
            <label>Spanish</label>
            <div class="container">
              <textarea [(ngModel)]="subtitle.languages.es">{{subtitle.languages.es}}</textarea>
              <img src="https://img.icons8.com/material-rounded/48/fff/update-left-rotation.png"/>
            </div>
          </div>

          <!-- Buttons -->
          <div class="buttons">
            <button *ngIf="id === 0 || id === (workingFile.subtitles.length - 1)" (click)="onDeleteSubtitle(id, false, subtitle)">
              <img src="https://img.icons8.com/material-rounded/96/ab684c/delete-forever.png"/>
            </button>
            <button *ngIf="id > 0 && (id < workingFile.subtitles.length - 1)" (click)="onDeleteSubtitle(id, true, subtitle)">
              <img src="https://img.icons8.com/material/96/ab684c/left-up2--v1.png"/>
            </button>
            <button (click)="onSplitSubtitle(id)">
              <img src="https://img.icons8.com/material/96/ab684c/split-horizontal--v1.png"/>
            </button>
            <button *ngIf="id > 0 && (id < workingFile.subtitles.length - 1)" (click)="onDeleteSubtitle(id, false, subtitle)">
              <img src="https://img.icons8.com/material/96/ab684c/down2--v2.png"/>
            </button>
          </div>

        </div>
      </ng-container>
    </div>
  </div>
</div>
