:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #ab684c;
  height: 100vh;

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .logo {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        display: flex;
        margin: 25px 0;
        font-size: 60px;
        font-family: 'Nanum Myeongjo', serif;
        align-items: center;
        justify-content: center;

        small {
          font-size: 30px;
          color: #85442c;
          font-family: 'Varela Round', sans-serif;
          margin: 0;
          display: block;
        }
      }
    }

    .loader {
      height: 100px;
      width: 100px;

      img {
        display: block;
        height: 80px;
        width: 80px;
        animation: spin forwards infinite linear .8s;
      }
    }

    .init {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      min-height: 200px;

      li {
        opacity: .5;
        width: 200px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        img {
          display: block;
          height: 20px;
          margin: 0 15px 0 0;
        }

        h4 {
          flex: 1;
          font-family: 'Varela Round', sans-serif;
          transition: all .3s ease-in-out;
          text-align: left;
        }

        &.active {
          opacity: 1;
          color: #274d27;
        }
      }
    }

    .login {
      padding: 25px 50px;
      background-color: rgba(230, 230 ,230, .3);
      border-radius: 10px;
      width: 100%;
      max-width: 400px;
      font-family: 'Varela Round', sans-serif;

      .input {
        display: flex;
        flex-direction: column;
        label {
          display: block;
        }
        input {
          flex: 1;
          border: none;
          padding: 10px;
          font-size: 15px;
          font-family: inherit;
          margin: 10px 0;
        }
      }

      .buttons {
        display: flex;

        button {
          flex: 1;
          background-color: white;
          border: none;
          font-weight: 600;
          padding: 10px;
          margin: 10px;
          border-radius: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
