
<div class="container">
  <div class="logo">
    <h2>MOSE | <small>TRANSCRIPTION</small></h2>
  </div>

  <div class="loader" *ngIf="isLoadingServices">
    <img src="https://img.icons8.com/material-rounded/96/85442c/loading-sign.png"/>
  </div>

  <div class="init">
    <li>
      <h4>{{initializers.length}} / 3 Services Initialized...</h4>
    </li>
    <li *ngFor="let item of initializers" [ngClass]="{'active': item.status}">

      <!-- Task Title -->
      <h4>{{item.action}}</h4>

      <!-- Check Mark -->
      <img *ngIf="!item.status" src="https://img.icons8.com/material-outlined/96/null/error--v1.png"/>
      <img *ngIf="item.status" src="https://img.icons8.com/material-outlined/96/274d27/checked--v1.png"/>

    </li>
  </div>
</div>

<!-- Login Container -->
<div class="container">
  <div class="login">
    <div class="input">
      <label>Email</label>
      <input type="email" placeholder="email" name="">
    </div>

    <div class="input">
      <label>Password</label>
      <input type="password" placeholder="password" name="">
    </div>

    <div class="buttons">
      <button>Login</button>
      <button (click)="skipLoginService()">Use Local</button>
    </div>
  </div>
</div>
